:root {
	--scale-int: 0.875rem;
	--scale0: 1rem;
	--h1: calc(4.209 * var(--scale-int));
	--h2: calc(3.157 * var(--scale-int));
	--h3: calc(2.369 * var(--scale-int));
	--h4: calc(1.777 * var(--scale-int));
	--h5: calc(1.333 * var(--scale-int));
	--h6: calc(0.75 * var(--scale-int));
}

h1,
h2,
h3,
h4,
h5 {
	line-height: 1.3;
}

h1,
.h1 {
	font-size: var(--h1);
}
h2,
.h2 {
	font-size: var(--h2);
}
h3,
.h3 {
	font-size: var(--h3);
}
h4,
.h4 {
	font-size: var(--h4);
}
h5,
.h5,
.large-text {
	font-size: var(--h5);
}
h6,
.h6,
small,
.small-text {
	font-size: var(--h6);
}
