/** .block-cover rendered by PHP **/
.block-cover__content {
	& > .wp-block-group__inner-container {
		max-width: var(--sm);
	}
}

.block-cover.has-text-align-center {
	& .block-cover__content {
		& > .wp-block-group__inner-container {
			margin-left: auto;
			margin-right: auto;
		}
	}
}

a.block-cover__list__link {
	text-decoration: none;
}
