/** .block-cover rendered by PHP **/
.block-cover__content {
	& > .wp-block-group__inner-container {
		max-width: var(--sm);
	}
}

.block-cover.has-text-align-center {
	& .block-cover__content {
		& > .wp-block-group__inner-container {
			margin-left: auto;
			margin-right: auto;
		}
	}

	& .block-cover__list {
		display: inline-flex;
	}
}

a.block-cover__list__link {
	text-decoration: none;
}

.block-cover__list {
	display: flex;
	flex-wrap: wrap;
}

.block-cover__item {
	display: inline-flex;
	margin: 0.5em 1em 0 0;
}
