.entry-content,
.wysiwyg {
  & .gform_wrapper {
    margin-top: 0 !important;
  }

  & .gform_body {
    margin-top: 1em;

    & ul {
      @mixin list-reset;
    }
  }

  & .gform_title {
    position: relative;
    margin-top: 0;
    margin-bottom: 1em;
    padding-bottom: 0.25em;
    color: var(--primary);

    &::after {
      content: '';
      position: absolute;
      bottom: -1px;
      left: 0;
      width: 40px;
      height: 2px;
      background: var(--secondary);
    }
  }

  & .gform_description {
    color: var(--dark-3);
    margin-top: 1em;
    text-align: justify;
    line-height: 1.5;
  }

  & .gfield {
    margin-bottom: 1em;

    & input[type='text'] {
      height: 40px;
    }
  }

  & .gfield_label {
    padding: 0 5px;
    font-weight: var(--font-bold);
  }

  & .gfield_description {
    margin-top: 0.5em;
    padding: 0 5px;
    font-size: 0.9125rem;
    line-height: 1.5;
  }
}
