@font-face {
	font-family: 'SF Pro Display';
	src: url('SFProDisplay-BoldItalic.woff2') format('woff2'),
		url('SFProDisplay-BoldItalic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'SF Pro Display';
	src: url('SFProDisplay-Bold.woff2') format('woff2'),
		url('SFProDisplay-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'SF Pro Display';
	src: url('SFProDisplay-RegularItalic.woff2') format('woff2'),
		url('SFProDisplay-RegularItalic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'SF Pro Display';
	src: url('SFProDisplay-Regular.woff2') format('woff2'),
		url('SFProDisplay-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
