.price {
  & del {
    opacity: 0.55;
  }
}

h3:empty {
  display: none;
}

.woocommerce-result-count {
  width: 100%;
  color: var(--dark);

  @media (--s) {
    width: auto;
  }
}

.woocommerce-ordering {
  @mixin select-wrapper;

  width: 100%;
  margin-top: 1em;

  @media (--s) {
    width: auto;
    margin-top: 0;
  }
}

.woocommerce-products-header {
  display: none;
}

/** Product Quantity **/
.quantity {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 44px;
  border: 1px solid var(--border);
  overflow: hidden;
  background: var(--white);
  border-radius: var(--border-radius);
  transition: opacity 0.3s ease;

  &.is-loading {
    opacity: 0;
  }

  & .product-qty {
    @mixin flex-center;

    position: absolute;
    top: 0;
    bottom: 0;
    width: 44px;
    cursor: pointer;

    & * {
      pointer-events: none;
    }

    & svg {
      width: 14px;
      height: 14px;
      transition: all 0.3s;
    }

    &:hover {
      @media (--m) {
        & svg {
          fill: var(--primary);
        }
      }
    }
  }

  & .qty {
    text-align: center;
    border: 0;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0);
    flex-grow: 1;
    height: 40px;
    -moz-appearance: textfield;

    @media (--m) {
      font-size: 15px;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  & [data-qty='minus'] {
    left: 0;
    border-radius: 10px 0 0 10px;
  }

  & [data-qty='plus'] {
    right: 0;
    border-radius: 10px 10px 0 0;
  }
}

.woocommerce-privacy-policy-text {
  @mixin wysiwyg;

  opacity: 0.85;

  & p {
    font-size: 0.85rem;
  }
}

.ui-slider {
  position: relative;
  text-align: left;
  margin-left: 0.5rem;
  margin-right: 0.5rem;

  & .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 1em;
    height: 1em;
    background-color: var(--primary);
    border-radius: 1em;
    cursor: ew-resize;
    outline: none;
    top: -0.3em;
    margin-left: -0.5em;
  }

  & .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: 0.7em;
    display: block;
    border: 0;
    border-radius: 1em;
    background-color: var(--primary);
  }
}

.price_slider_wrapper .ui-widget-content {
  border-radius: 1em;
  background-color: var(--light);
  border: 0;
}

.ui-slider-horizontal {
  height: 0.5em;

  & .ui-slider-range {
    top: 0;
    height: 100%;
  }

  & .ui-slider-range-min {
    left: -1px;
  }

  & .ui-slider-range-max {
    right: -1px;
  }
}

.product-type-simple:not(.purchasable) {
  & .button.product_type_simple {
    border: 1px solid var(--primary);
    color: var(--primary);
    padding: 0 2.2em;
    margin: 1em 0;

    &:hover {
      background: var(--primary);
      color: var(--white);
    }
  }
}

.product__rating {
  display: flex;
  justify-content: center;
  padding: 5px 0;
}

.product__rating-stars {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 80px;
  height: 16px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cdefs/%3E%3Cpath xmlns='http://www.w3.org/2000/svg' fill='%23b3b3b3' d='M5.6 15.4L4.3 23a.8.8 0 001.1.8l6.6-3.6 6.6 3.6a.8.8 0 00.8 0c.2-.2.3-.5.3-.8l-1.3-7.7 5.4-5.5a.8.8 0 00-.4-1.3L16 7.5l-3.3-7c-.3-.6-1.1-.6-1.4 0L8 7.4.6 8.6a.7.7 0 00-.4 1.3zm3-6.5c.3 0 .5-.2.6-.4l2.8-6 2.8 6c.1.2.3.4.6.4l6.3 1-4.6 4.7c-.2.2-.3.4-.2.6l1 6.6-5.5-3a.8.8 0 00-.8 0l-5.6 3 1.1-6.6c0-.2 0-.4-.2-.6L2.3 9.9z' data-original='%23000000'/%3E%3C/svg%3E");

  & span {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cdefs/%3E%3Cpath fill='%23ffc107' d='M23.4 8.6L16 7.5l-3.3-7c-.3-.6-1.1-.6-1.4 0L8 7.4l-7.4 1c-.6.2-.8 1-.4 1.3l5.4 5.5-1.3 7.8c0 .6.6 1 1.1.8l6.6-3.7 6.6 3.7a.8.8 0 001-.8l-1.2-7.8 5.4-5.4a.8.8 0 00-.4-1.3z'/%3E%3C/svg%3E");
  }
}

.quick-view-modal,
.entry-summary {
  & .price {
    @mixin h3;

    margin: 0 0 10px;
    font-weight: var(--font-bold);
    color: var(--primary);

    & del {
      opacity: 0.65;
      color: var(--dark);
      font-weight: var(--font-normal);
    }
  }
}

.shop_table {
  margin: 0;
  border: 0;
  width: 100%;

  & tr {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    border-bottom: 1px solid var(--border);
  }

  & tr th {
    font-weight: var(--font-normal);
  }

  & tr th,
  & tr td {
    border: 0;
    padding-left: 0;
    padding-right: 0;
  }

  & tbody th,
  & tbody td {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  & input[type='radio'] {
    margin-right: 10px;
  }

  & [name='calc_shipping'] {
    width: 100%;
    height: 50px;
  }

  & .cart-subtotal {
    & th,
    & td {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  & .order-total {
    border-bottom: 0;

    & th {
      padding-right: 10px;
    }

    & td {
      text-align: right;
    }

    & .amount {
      color: var(--primary);
      font-size: 1.15rem;
    }
  }

  & .woocommerce-shipping-totals {
    & td {
      padding-top: 3px;
      text-align: left;
    }

    & th {
      padding: 0;
    }
  }

  & a {
    color: var(--primary);
    text-decoration: underline;
  }

  & a.shipping-calculator-button {
    text-decoration: none;
  }
}

.shop_table tbody tr.shipping,
.shop_table tbody tr.cart-discount {
  display: flex;
  flex-wrap: wrap;
  padding: 5px 0;

  & th {
    width: 100%;
    padding: 0;
    font-weight: var(--font-bold);
    text-transform: uppercase;
    text-align: left;
  }

  & td {
    width: 100%;
    margin: 5px 0 0 0;
    padding: 0;
    text-align: left;
    opacity: 0.75;
  }
}
