.products .product {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;

  & .product__inner {
    flex: 1 0 auto;

    &:hover {
      & .product__image-hover {
        @media (--m) {
          @mixin fade-in;

          & + .product__image {
            @mixin fade-out;
          }
        }
      }
    }
  }

  & .woocommerce-loop-product__title {
    @media (--max-mobile) {
      font-size: 0.85rem;
    }
  }

  &.outofstock {
    opacity: 0.75;

    & a {
      pointer-events: none;
    }

    &:hover {
      & .product__image {
        @mixin fade-in;
      }

      & .product__image-hover {
        @mixin fade-in;
      }
    }
  }
}

.products .product-card {
  flex: 1 0 auto;
}

.products > .product-category {
  & img {
    max-width: 100%;
    height: auto;
  }

  & .woocommerce-loop-category__title {
    font-size: 1rem;

    & mark {
      background: unset;
      color: var(--primary);
    }
  }
}

.products.columns-5,
.products.columns-4,
.products.columns-3,
.products.columns-2,
.products.columns-1 {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.products.columns-5 {
  & > .product {
    width: 50%;
    margin-top: 20px;
    padding: 0 10px;

    @media (--sm) {
      width: 20%;
    }
  }
}

.products.columns-4 {
  & > .product {
    width: 50%;
    margin-top: 20px;
    padding: 0 10px;

    @media (--sm) {
      width: 25%;
    }
  }
}

.products.columns-3 {
  & > .product {
    width: 50%;
    margin-top: 20px;
    padding: 0 10px;

    @media (--sm) {
      width: 33.33%;
    }
  }
}

.products.columns-2 {
  & > .product {
    width: 50%;
    margin-top: 20px;
    padding: 0 10px;
  }
}

.products.columns-1 {
  & > .product {
    width: 100%;
    margin-top: 20px;
    padding: 0 10px;
  }
}

.woocommerce-loop-product__link {
  position: relative;
  display: flex;
  flex-direction: column;
  text-decoration: none;

  &:hover {
    color: var(--primary);
  }
}

.woocommerce-loop-product__title {
  margin-top: 0.25em;
  margin-bottom: 0.5em;
  font-size: 1rem;
  font-weight: var(--font-normal);
}

.woocommerce-pagination {
  padding: 2em 0;
  text-align: center;

  & .page-numbers {
    list-style: none;

    & li {
      display: inline-flex;
    }

    & .page-numbers:not(.prev):not(.next) {
      @mixin flex-center;

      width: 29px;
      height: 29px;
      border-radius: 50%;
      border: 1px solid rgba(0, 0, 0, 0);
    }

    & .page-numbers.current {
      background: var(--primary);
    }

    & .current {
      color: var(--white);
    }
  }
}

.product__tag {
  position: absolute;
  top: 5px;
  right: 0;
  display: inline-block;
  padding: 2px 5px;
  background: var(--primary);
  color: var(--white);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  font-size: 0.85rem;
  pointer-events: none;
  border-radius: 3px 0 0 3px;
  z-index: 3;

  @media (--s) {
    font-size: 1rem;
  }
}

.product__tag--out-of-stock {
  background: var(--gray);
}

.product__image-hover {
  @mixin abs-full;
  @mixin fade-out;

  z-index: 1;
  background: var(--white);
  transition: all 0.3s cubic-bezier(0.25, 0.25, 0.75, 0.75);
}

.product__image-wrapper {
  @mixin ratio 1/1;

  display: flex;
  overflow: hidden;

  & .woocommerce-loop-product__link {
    @mixin abs-full;
  }

  & .add-to-cart-icon {
    width: 30px;
    height: 30px;
    font-size: 0;
    background: var(--primary);
    padding: 0;
    position: absolute;
    left: 10px;
    bottom: 50px;
    z-index: 3;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='white' d='M17.696,9.368H2.305c-0.189,0-0.367,0.092-0.478,0.245c-0.11,0.155-0.141,0.352-0.08,0.532l2.334,6.918c0.081,0.238,0.305,0.4,0.556,0.4h10.735c0.253,0,0.478-0.162,0.557-0.402l2.323-6.917c0.062-0.179,0.03-0.376-0.079-0.531C18.062,9.459,17.886,9.368,17.696,9.368z M14.95,16.287H5.062l-1.938-5.743h13.753L14.95,16.287z'%3E%3C/path%3E%3Cpath fill='white' d='M6.345,7.369c0.325,0,0.588-0.263,0.588-0.588c0-1.691,1.376-3.067,3.067-3.067c1.691,0,3.067,1.376,3.067,3.067c0,0.325,0.264,0.588,0.588,0.588c0.326,0,0.589-0.263,0.589-0.588c0-2.34-1.904-4.243-4.244-4.243c-2.34,0-4.244,1.903-4.244,4.243C5.757,7.106,6.02,7.369,6.345,7.369z'%3E%3C/path%3E%3C/svg%3E");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;

    &:hover {
      background: var(--secondary);
      background-size: 20px;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='white' d='M17.696,9.368H2.305c-0.189,0-0.367,0.092-0.478,0.245c-0.11,0.155-0.141,0.352-0.08,0.532l2.334,6.918c0.081,0.238,0.305,0.4,0.556,0.4h10.735c0.253,0,0.478-0.162,0.557-0.402l2.323-6.917c0.062-0.179,0.03-0.376-0.079-0.531C18.062,9.459,17.886,9.368,17.696,9.368z M14.95,16.287H5.062l-1.938-5.743h13.753L14.95,16.287z'%3E%3C/path%3E%3Cpath fill='white' d='M6.345,7.369c0.325,0,0.588-0.263,0.588-0.588c0-1.691,1.376-3.067,3.067-3.067c1.691,0,3.067,1.376,3.067,3.067c0,0.325,0.264,0.588,0.588,0.588c0.326,0,0.589-0.263,0.589-0.588c0-2.34-1.904-4.243-4.244-4.243c-2.34,0-4.244,1.903-4.244,4.243C5.757,7.106,6.02,7.369,6.345,7.369z'%3E%3C/path%3E%3C/svg%3E");
    }
  }
}

.product__image {
  @mixin abs-full;

  object-fit: cover;
  transition: all 0.3s ease-in-out;
}

.has-product-card-image-cover {
  & .product__image-hover .image__img,
  & .product__image .image__img {
    object-fit: cover;
  }
}

.has-product-card-image-contain {
  & .product__image-hover .image__img,
  & .product__image .image__img {
    object-fit: contain;
  }
}

.product__content {
  padding: 0.5em;
  transition: all 0.3s cubic-bezier(0.25, 0.25, 0.75, 0.75);
}

.product__category {
  & a {
    font-size: 1rem;
  }
}

.product__meta-inner {
  & .price {
    font-weight: var(--font-bold);
    color: var(--primary);

    & del {
      margin-right: 0.5em;
      color: var(--dark);
      font-weight: var(--font-normal);
      opacity: 0.75;
    }

    @media (--m) {
      display: inline-block;
    }
  }

  & .add_to_cart_button {
    display: none;

    @media (--m) {
      display: block;
      font-size: 1rem;
      font-weight: var(--font-bold);
      color: var(--secondary);
      padding: 0;
      transition: all 0.3s;
    }

    &.button--disabled {
      color: var(--gray);
    }
  }
}

.product__inner {
  border: 1px solid var(--light);

  & .button--disabled {
    display: none;
  }
}

.product__quick-view {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 3;
  transition: all 0.3s;
}

.product__quick-view-text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 2px solid var(--primary);
  border-radius: 50%;

  &:hover {
    cursor: pointer;
    background: var(--primary);
    transition: all 0.4s;

    & svg {
      fill: var(--white);
    }
  }

  & svg {
    width: 16px;
    height: 16px;
    pointer-events: none;
    fill: var(--primary);
    transition: all 0.4s;
  }
}

.has-product-card-style-1 {
  & .product__meta-inner {
    position: relative;

    & .add_to_cart_button {
      @media (--m) {
        position: absolute;
        bottom: 5px;
        left: 10px;
        background: var(--primary);
        color: var(--white);
        width: calc(100% - 20px);
        transform: translateY(100%);
        opacity: 0;
        visibility: hidden;

        &:hover {
          background: var(--secondary);
        }
      }
    }
  }

  & .product__inner {
    & .product__quick-view {
      transform: translateX(-40px);
    }

    @media (--m) {
      &:hover {
        & .add_to_cart_button {
          transform: translateY(0);
          opacity: 1;
          visibility: visible;
        }

        & .product__quick-view {
          transform: translateX(0);
        }
      }
    }
  }
}

.has-product-card-style-2 {
  & .product__inner {
    & .product__quick-view {
      transform: scale(0);
      opacity: 0;
      visibility: hidden;
    }

    & .add-to-cart-icon {
      transform: scale(0);
      opacity: 0;
      visibility: hidden;
    }

    & .product__quick-view-text {
      border-radius: 5px;
      background: var(--primary);

      & svg {
        fill: var(--white);
      }

      &:hover {
        background: var(--secondary);
        border-color: var(--secondary);
      }
    }

    @media (--m) {
      &:hover {
        & .product__quick-view,
        & .add-to-cart-icon {
          transform: scale(1);
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
}

.has-product-card-style-3 {
  & .product__inner {
    & .product__quick-view {
      width: calc(50% - 2px);
      left: 0;
      bottom: 0;
    }

    & .product__quick-view-text {
      width: 100%;
      border-radius: 0;
      background: var(--primary);
      color: var(--white);
      border: none;

      &:hover {
        background: var(--secondary);
      }
    }

    & .add-to-cart-icon {
      background-image: none;
      width: calc(50% - 2px);
      font-size: 1rem;
      color: var(--white);
      border-radius: 0;
      right: 0;
      left: unset;
      bottom: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      padding: 0;
    }

    & .add-to-cart-icon,
    & .product__quick-view {
      transform: translateY(100%);
    }

    @media (--m) {
      &:hover {
        & .add-to-cart-icon,
        & .product__quick-view {
          transform: translateY(0);
        }
      }
    }
  }
}

.has-product-card-style-4 {
  & .product__quick-view {
    width: 100%;
    left: 0;
    bottom: 0;
    transform: translateY(100%);

    & .product__quick-view-text {
      border-radius: 0;
      width: 100%;
      background: var(--primary);
      color: var(--white);

      &:hover {
        background: var(--secondary);
        border-color: var(--secondary);
      }
    }
  }

  & .product__inner {
    display: flex;
    flex-wrap: wrap;

    & .product__image-wrapper {
      width: 50%;
    }

    & .product__meta-inner {
      margin-top: 0.5em;
    }

    & .product-price {
      line-height: 1.5;
    }

    & .product__content {
      width: 50%;
      padding: 0.5em;
      text-align: left;

      & .add_to_cart_button {
        margin-top: 0.5em;
        border: 1px solid var(--primary);
        color: var(--primary);
        display: inline-block;
        padding: 0 0.5em;

        @media (--m) {
          &:hover {
            color: var(--white);
            background: var(--primary);
          }
        }
      }
    }

    @media (--m) {
      &:hover {
        & .product__quick-view {
          transform: translateY(0);
        }
      }
    }
  }
}

.has-product-card-style-5 {
  & .product__quick-view {
    width: 100%;
    left: 0;
    bottom: 0;
    transform: translateY(100%);

    & .product__quick-view-text {
      border-radius: 0;
      width: 100%;
      background: var(--primary);
      color: var(--white);

      &:hover {
        background: var(--secondary);
        border-color: var(--secondary);
      }
    }
  }

  @media (--m) {
    & .product__inner {
      &:hover {
        & .product__quick-view {
          transform: translateY(0);
        }
      }
    }
  }
}
