.product-grid {
  margin-top: 3em;

  @media (--m) {
    & + .product-grid {
      padding-top: 0;
    }
  }
}

.product-grid--search {
  margin-top: 2em;
}

.product-grid--no-container {
  & .product-grid__container {
    max-width: 100%;
    padding: 0;
  }
}

.product-grid__header {
  margin-bottom: 2em;
}

.product-grid--related {
  & h2 {
    margin-bottom: 2em;
  }
}
