.product-gallery__bottom {
  margin-top: 0.25em;
  margin-bottom: 2em;
}

.product-gallery__button {
  font-size: 0.85rem;
}

.woocommerce-product-gallery {
  & .flex-control-nav {
    & img {
      border: 2px solid var(--border);
      transition: border-color 0.3s;
    }

    & img.flex-active {
      border-color: var(--primary);
    }
  }
}

.woocommerce-product-gallery--has-video {
  & .flex-control-nav {
    & > li {
      border: 2px solid var(--border);

      & > img {
        border: 0;
        object-fit: contain;
        transition: none;

        &.flex-active {
          border: none;
        }
      }
    }

    & > li.is-active {
      border-color: var(--primary);
    }

    & > li.has-variation-change {
      & svg {
        display: none;
      }
    }

    & > li.has-video-icon {
      position: relative;

      & img {
        position: relative;
        object-fit: contain;
        z-index: 1;
      }

      & svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 3;
        pointer-events: none;
        opacity: 0.65;
      }
    }
  }
}

.woocommerce-product-gallery__image.has-video {
  & .wp-post-image {
    @mixin abs-full;

    opacity: 0;
    z-index: 1;
  }
}

.woocommerce-product-gallery__image.has-variation-change {
  & .wp-post-image {
    @mixin abs-full;

    opacity: 1;
    z-index: 1;
  }
}

.woocommerce-product-gallery__video-wrapper {
  @mixin ratio 1/1;
}

.woocommerce-product-gallery__video {
  @mixin abs-full;

  background: var(--white);
  z-index: 2;
  transition: opacity 0.3s;
}
