.woocommerce .comment-respond {
  & .comment-form {
    & .upload_section {
      display: none;
    }

    & .comment-form-rating {
      & .stars {
        & a {
          position: relative;
          height: 1em;
          width: 1em;
          text-indent: -999em;
          display: inline-block;
          text-decoration: none;
          box-shadow: none;

          &::before {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 1em;
            height: 1em;
            line-height: 1;
            font-family: WooCommerce, sans-serif;
            content: '\e021';
            text-indent: 0;
            color: var(--yellow);
          }

          &:hover {
            & ~ a::before {
              color: var(--gray);
            }
          }
        }

        &.selected {
          & a.active {
            &::before {
              content: '\e020';
            }

            & ~ a::before {
              content: '\e021';
            }
          }

          & a:not(.active)::before {
            content: '\e020';
          }
        }
      }
    }
  }
}

.woocommerce .star-rating,
.woocommerce p.stars [class^='star-'],
.woocommerce p.stars [class*=' star-'] {
  font-weight: 400;
  line-height: 1;
  font-size: 1.25rem;
}

.woocommerce .woocommerce-Reviews-title {
  margin: 0.5em 0;
}

.woocommerce #review_form_wrapper {
  margin-top: 1em;

  @media (--m) {
    margin-top: 2em;
  }
}

.woocommerce .comment-form-rating {
  margin-top: 1em;

  & label {
    display: block;
    margin-bottom: 0.25em;
    font-weight: var(--font-bold);
  }

  & .stars {
    margin: 0;
  }
}

/* rating block specific to single product summary area */
.woocommerce .woocommerce-product-rating {
  display: block;
  width: 100%;
}

.woocommerce .woocommerce-product-rating .star-rating {
  margin: 0 auto;
  float: left;
  font-size: 1rem;
}

.woocommerce .woocommerce-product-rating .woocommerce-review-link {
  font-size: 85%;
  width: 100%;
  margin: 0.5em 0;
  float: left;
}

.woocommerce p.stars {
  position: relative;
  display: inline-flex;
  border: 1px solid var(--border);
  padding: 0.5em 1em;
  border-radius: var(--border-radius);
}
