.abs {
  position: absolute;
}
.rel {
  position: relative;
}
.fixed {
  position: fixed;
}
.d-inline {
  display: inline;
}
.d-inline-block {
  display: inline-block;
}
.d-block {
  display: block;
}
.d-none {
  display: none;
}
.z-1 {
  z-index: 1;
}
.z-2 {
  z-index: 2;
}
.z-3 {
  z-index: 3;
}
.w100 {
  width: 100%;
}

.mxa {
  margin-left: auto;
  margin-right: auto;
}

.mla {
  margin-left: auto;
}
.mra {
  margin-right: auto;
}
.mt-1 {
  margin-top: 1em;
}
.mb-1 {
  margin-bottom: 1em;
}
.pt-1 {
  padding-top: 1em;
}
.pb-1 {
  padding-bottom: 1em;
}
.pl-1 {
  padding-left: 1em;
}
.pr-1 {
  padding-right: 1em;
}

.pv {
  padding-top: 1em;
  padding-bottom: 1em;
}

.py {
  padding-left: 1em;
  padding-right: 1em;
}

.hidden {
  display: none !important;
  opacity: 0 !important;
  visibility: hidden !important;
}

.section {
  margin-top: var(--section-space);

  & + .section-bg {
    margin-top: var(--section-space);
  }
}

.section-bg {
  padding: var(--section-space) 0;

  & + .section {
    margin-top: var(--section-space);
  }
}

.section--hide-mobile {
  @media (--max-mobile) {
    display: none;
  }
}

.mobile-only {
  @media (--s) {
    display: none;
  }
}
