.wp-block-cover,
.section {
	margin-top: var(--section-space);

	& + .has-background {
		margin-top: var(--section-space);
	}
}

.wp-block-cover.has-background,
.wp-block-group.has-background,
.section-bg {
	padding: var(--section-space) 0;

	& + .section {
		margin-top: var(--section-space);
	}
}

.section--hide-mobile {
	@media (--max-mobile) {
		display: none;
	}
}

.section.wp-block-group .wp-block-group__inner-container,
.wp-block-cover__inner-container {
	@mixin container;
	@mixin container-from-s;
}
