.footer {
  &.bg-light,
  &.bg-dark {
    & .widget-contact-info {
      & .widget__title {
        margin-bottom: 20px;
        font-weight: var(--bold);
        text-transform: uppercase;
      }

      & .textwidget {
        & p {
          margin-top: 1em;
        }

        & ul.footer-contact {
          list-style: none !important;
          margin-left: 0 !important;
          padding-left: 0 !important;

          & .footer-contact__item {
            display: flex;
            margin-top: 0.5em;

            & a {
              display: flex;

              & .footer-contact__icon {
                width: 1.6em;
                margin-right: 0.6em;
              }

              & .footer-contact__content {
                width: calc(100% - 2.2em);
                line-height: 1.5;
              }
            }

            & .footer-contact__icon {
              width: 1.6em;
              margin-right: 0.6em;
            }

            & .footer-contact__content {
              width: calc(100% - 2.2em);
              line-height: 1.5;
            }
          }

          & .footer-contact__item:first-child {
            margin-top: 0.5em;
          }
        }
      }
    }
  }

  &.bg-light {
    & .widget-contact-info {
      & p,
      & a,
      & span {
        color: var(--black);
      }
    }
  }

  &.bg-dark {
    & .widget-contact-info {
      & p,
      & a,
      & span {
        color: var(--light);

        & svg {
          stroke: rgb(44, 62, 80);
        }
      }
    }
  }
}
