.category-post {
  & .post-grid {
    margin-top: 0;
  }

  & .page-header + .post-grid {
    margin-top: 2em;
  }

  &.page-block {
    margin-top: 1em;

    @media (--m) {
      margin-top: 2em;
    }
  }
}

.category-post__col--main {
  margin-bottom: 2em;

  & .page-header__container {
    padding: 0;
  }

  & .site-main {
    display: flex;
    flex-wrap: wrap;
  }

  & .page-header {
    width: 100%;
    padding: 1em 1em 0;
    margin-top: 0;

    @media (--xs) {
      padding: 1em;
    }
  }

  & article {
    @mixin column-item 1, 1em;

    display: flex;
    flex-direction: column;
    padding: 0 1em;

    @media (--xs) {
      @mixin column-item 2, 1em;

      &:nth-of-type(-n + 2) {
        margin-top: 0;
      }
    }

    @media (--sm) {
      @mixin column-item 3, 2em;

      &:nth-of-type(-n + 3) {
        margin-top: 0;
      }
    }

    & .post-thumbnail {
      @mixin ratio 2/3;
      order: 1;

      width: 100%;
      overflow: hidden;

      & img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    & header {
      order: 2;

      & .entry-title {
        line-height: 1;
      }

      & .entry-meta {
        display: none;
      }

      & a {
        font-size: 1rem;
      }
    }

    & footer {
      display: none;
    }
  }
}
