ul.contact-shortcode {
  @mixin list-reset;

  display: flex;
  flex-wrap: wrap;
}

li.contact-shortcode__item {
  display: flex;
  margin-right: 1em;
  align-items: center;
  color: var(--black);

  & a {
    display: flex;
    color: var(--black);

    &:hover {
      color: var(--primary);
    }
  }
}

.contact-shortcode__icon {
  display: flex;
  width: 26px;
  height: 26px;
  margin-right: 3px;
}
