.post-row__image {
  @mixin ratio 3/4;
}

.post-row__col--image {
  width: 100px;

  @media (--xs) {
    width: 140px;
  }
}

.post-row__col--content {
  width: auto;
  flex: 1 1 0;
}

.post-row__description,
.post-row__footer {
  display: none;

  @media (--xs) {
    display: block;
  }
}
