.social-links__list {
  display: flex;
  align-items: center;
}

.social-links__label {
  padding-right: 5px;
  opacity: 0.75;
}

.social-links__item {
  display: inline-flex;
  width: auto;
  height: auto;
  padding: 3px;
  transition: all 0.3s ease-in-out;

  &:hover {
    opacity: 0.85;
  }
}

.social-links__svg {
  @mixin flex-center;

  & svg {
    @mixin icon 24px;

    fill: var(--dark);
  }
}

.social-links--dark-contract {
  & .social-links__svg svg path {
    fill: var(--white);
  }
}

.social-links--footer-bottom {
  & .social-links__list {
    display: inline-flex;
  }

  & .social-links__item {
    opacity: 0.65;

    &:hover {
      opacity: 1;
    }
  }
}
