.modal--search-form {
	& .modal__overlay {
		@mixin abs-full;

		cursor: pointer;
		z-index: 1;
	}

	& .modal__wrapper {
		position: relative;
		width: calc(100vw - 40px);
		background-color: var(--white);
		border-radius: var(--border-radius);
		transform: translateY(15px);
		transition: transform 0.3s;
		z-index: 2;

		@media (--s) {
			width: 360px;
		}

		@media (--m) {
			width: 600px;
		}
	}

	& .modal__header {
		position: relative;
		height: 44px;
		display: flex;
		align-items: center;
		margin: 0;
		padding: 0 40px 0 20px;
		background: var(--white);
		border-radius: var(--border-radius) var(--border-radius) 0 0;
	}

	& .modal__title {
		margin: 0;
		padding: 0;
		border: 0;
	}

	& .modal__content {
		position: relative;
		background: var(--light);
		border-top: 1px solid var(--border);
		border-radius: 0 0 var(--border-radius) var(--border-radius);
		overflow: hidden;
	}

	& .modal__close-button {
		@mixin button-reset;
		@mixin flex-center;

		position: absolute;
		top: 0;
		right: 0;
		width: 44px;
		height: 44px;
		cursor: pointer;
		z-index: 3;

		@media (--m) {
			right: 9px;
		}

		& svg {
			width: 18px;
			height: 18px;
		}
	}

	&.modal--visible {
		opacity: 1;
		z-index: 1001;
		pointer-events: visible;

		& .modal__wrapper {
			transform: translateY(0);
			transition-delay: 0.1s;
		}
	}
}
