.page-404 {
  padding: 2em 0;
}

.page-404__container {
  max-width: 768px;
}

.page-404__grid {
  align-items: center;
  align-self: center;
  vertical-align: middle;
}

.page-404__col {
  width: 100%;
  text-align: center;
}

.page-404__error {
  font-weight: 100;
  font-size: 12em;
  line-height: 1;
  color: var(--gray);
}

.page-404__title {
  font-size: 1.5em;
  font-weight: 500;
  color: var(--dark);
}

@media screen and (min-width: 1024px) {
  .page-404 {
    padding: 4em 0;
  }

  .page-404__col {
    width: 50%;
      text-align: left;
  }
}
